.alert{
    margin: 2% 10% 0;
    padding: 1%;
    text-align: center;
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .alert{
        font-size: 16px;
    }
}

@media screen and (max-width:767px){
    .alert{
        font-size: 14px;
    }
}