.main-container{
    background-color: #E26868;
    min-height: 92vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.filters{
    border-radius: 5px;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    width: 60%;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.1);
    font-weight: 700;
}

.filters .form-field{
    font-size: 16px;
    margin: 0 10px;
}

.users-container{
    margin-top: 20px;
    /* background-color:aqua; */
    width: 876px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.user-frame{  
    margin: 10px;
    width: 272px;
    border-radius: 5px;
    background-color: #FFE3E3;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}
.user-img{
    text-align: center;
    height: 170px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 5px 5px 0px 0px;
}
.user-details{
    padding: 10px;
}

.user-frame p{
    margin-bottom: 5px;
    opacity: 100%;
    color: #251F44;
    font-weight: 700;
    font-size: 18px;
}

.user-frame span{
    opacity: 50%;
    font-weight: 600;
}

@media screen and (min-width: 767px) and (max-width: 1024px){
    .users-container{
        width: 590px;
        justify-content: flex-start;
    }
    .user-frame{
        width: 274px;
    }
}

@media screen and (max-width: 767px){
    .filters{
        font-size: 16px;
        width: 80%;
    }
    .filters .form-field{
        font-size: 12px;
    }
    .users-container{
        width: 100%;
        justify-content: center;
        
    }
    .user-frame{
        width: 250px;
    }
    .user-details p{
        font-size: 16px;
    }
}